*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background : #212121
}


body{
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 0 2%;
}

body, html{
    width: 100%;
    height: 100vh;

}

.group{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.perfil{
    background-color: #494949;
    min-width: 290px;
    max-width: 350px;
    height: 80%;
    border-radius: 20px;
}

.perfil-header{
    width: 100%;
    height: 50%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.perfil-header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.perfil-header span{
    color: white;
    font-family:monospace;
    font-size: 1.5em;
    padding: 1em 0;
    user-select: none;
}

.perfil-header .ramo{
    font-family:monospace;
    display: flex;
    width: 60%;
    background-color: #656565;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    padding: .5em 0;
    border-radius: 25px;
    user-select: none;
}

.perfil-header .border{
    border-bottom: 1.5px solid #696969;
    display: flex;
    width: 80%;
    padding-top: 1em;
}

.perfil-body .contato{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: .5em 0;
}

.perfil-body .contato .img{
    padding: 0 1em;
    font-size: 1.5em;
}

.perfil-body .contato .img i,
.perfil-body .contato .dados{
    color: rgb(174, 173, 173);
    font-family: sans-serif,monospace
}

.perfil-body .contato .dados h6,
.perfil-body .contato .dados p{
    font-size: .8em;
}

.perfil-body .contato .dados h6{
    user-select: none;
}

.perfil-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    
}

.perfil-footer i{
    color: rgb(174, 173, 173);
}

.perfil-footer i:hover{
    color: rgb(246, 246, 246);
    transition: all .5s ;
}

.hiper-link{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

.content{
    width: 50%;
    height: 90%;
    background-color: #494949;
    border-radius: 25px;
    margin-left: 2%;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: end;
}

.nav .nav-sessao{
    width: 40%;
}

.nav .nav-sessao .title{
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    padding: .25em;
    color: white;
}

.nav .nav-menu{
    display: flex;
    width: 60%;
    justify-content: end;
    background-color: #696969;
    border-radius: 0 0 0 10px ;
}

.nav .nav-menu .menu{
    display: flex;
    justify-content: space-evenly;
}

.nav .nav-menu .menu .menu-item{
    list-style: none;
    margin: auto 1em;
    text-align: center;
}

.nav .nav-menu .menu .menu-item a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
    font-family: monospace;
    cursor: pointer;
}

.content .container{
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.content .container::-webkit-scrollbar-track{
    background-color: red;
}

.content .container::-webkit-scrollbar-thumb {
     background-color: rebeccapurple;
}


.pagina-sobre{
    padding: 2em 1em;
    color: #a2a2a4;
    font-family: sans-serif;
    text-align: justify;
}

.sessao1 p{
    padding: .5em 0;
}

.sessao2{
    display: flex;
    flex-direction: column;
}

.sessao2 .header{
    font-size: 2em;
    color: white;
    padding-left: 1.8em;
}

.sessao2 .body{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.card-cursos{
    display: flex;
    width: 250px;
    min-width: 150px;
    min-height: 100px;
    background: #656565;
    border-radius: 10px;
    margin: 1em;
}

.card-cursos .card-img{
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #a2a2a4;
}

.card-cursos .card-body{
    display: flex;
    flex-direction: column;
    padding: .5em;
}

.card-cursos .card-body h6{
    width: 100%;
    color: white;
    font-size: 1em;
}

.card-cursos .card-body p{
    color: #a2a2a4;
    font-size: .7em;
    padding-top: .5em;
}

.pagina-resumo{
    padding: 2em 1em;
    color: #a2a2a4;
    font-family: sans-serif;
}

.pagina-resumo .lista-formacao,
.card-habilidade{
    list-style: none;
}

.list-resumo{
    padding: 1em 0;
}

.lista-resumo h4{
    padding: 1em 0;
    font-size: 1.2em;
    color: white;
}

@media screen and (max-width: 1280px) {
    .group{
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: auto;
        padding: .9em 0;
    }
    body, html{
        height: auto;
    }

    .content{
        height: 90vh;
    }

    .pagina-sobre{
        overflow-y: auto;
        height: 90%;
    }
    
    .content .container .sessao2,
    .content .container .sessao2 .body{
        justify-content: center !important;
        align-items: center !important;
    }

    .perfil{
        height: 90vh;

    }

    .perfil-footer{
        padding: 1em 0;
    }

    
    .sessao2 .header {
        padding: 0;
    }
}

@media screen and (max-width: 1180px){
    .content .nav{
        display: flex;
        flex-direction: column;
    }

    .content .nav .nav-sessao{
        width: 100%;
    }

    .content .nav .nav-menu{
        width: 100%;
        padding: .5em 0;
        justify-content: center;
        background: transparent;
    }

}

@media screen and (max-width: 690px){
    .content{
        width: 100%;
    }

    .perfil-header{
        height: 60%;
    }

    .perfil-header img{
        width: 200px;
        height: 200px;
    }

    .perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfil-footer{
        width: 100%;
        height: 15%;
    }


}

@media screen and (max-height: 569px){
    .perfil-header img{
        width: 100px;
        height: 100px;
    }

    .perfil-header span{
        padding: .2em;
    }

    .perfil-header{
        height: 45%;
    }

    .nav .nav-menu .menu .menu-item{
        margin: 0 .5em;
    }
}